.homepage-about-what-container{
  display:flex;
  flex-direction: column;
  margin: 10px;
  width: 1000px;
  height: 450px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.homepage-about-what-container > h1{
  width: 500px;
  text-align: center;
  font-size: 28px;
  margin-top: 5px;
  padding: 0 15px;
}

.homepage-about-what-container > p{
  width: 500px;
  font-size: 14px;
  margin-top: 15px;
  padding: 0 10px;
  line-height: 1.6;
}

.homepage-about-how-container{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
  height: 450px;
  background-color: teal;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.homepage-about-how-container > h1{
  width: 500px;
  text-align: center;
  font-size: 28px;
  margin-top: 5px;
  padding: 0 15px;
}

.homepage-about-how-container > p{
  width: 500px;
  font-size: 14px;
  margin-top: 15px;
  padding: 0 10px;
  line-height: 1.6;
}

.navlinks{
  text-decoration: none;
}

.homepage-main-image{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./help_sample.jpeg');
  width: 100%;
  height: 600px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.alt-home-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 825px;
  cursor: pointer;
  margin-bottom: 35px;
}

.alt-home-logo__help{
  width: 100px;
  margin: 0;
  margin-left: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;
  font-size: 50px;
  padding-right: 10px;
}

.alt-home-logo__hands{
  width: 100px;
  margin: 0;
  font-size: 35px;
  color: teal
}

input:focus{
  outline: none;
}

.alt-search-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alt-search-bar__keyword, .alt-search-bar__location{
  height: 45px;
  width: 350px;
  box-shadow: 0px 0px 5px lightgrey;
  border: none;
  padding: 0 15px;
}

.alt-search-bar__keyword::placeholder{
  color: whitesmoke;
}

.alt-search-bar__keyword{
  border-radius: 3px 0 0 3px;

}

.alt-search-bar::before{
  box-sizing: border-box;
  height: 45px;
  width: 10px;
  font-size: 30px;
  position: absolute;
  padding-top: 7px;
  margin-left: 375px;
  content: "|";
  color: lightgrey;
  background-color: white;
  z-index: 1;
}

.alt-search-button{
  background-color: teal;
  box-shadow: 0px 0px 5px lightgrey;
  border: none;
  height: 45px;
  width: 65px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}

.alt-magnify{
  display: flex;
  font-size: 20px;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.homepage-users-container__local{
  box-sizing: border-box;
  height: 800px;
  width: 1014px;
  margin: 0 auto;
}

.users-container__header__local{
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 27px;
  border-bottom: .5px solid lightgrey;
  text-align: center;
  color: teal;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 1000;
}

.users-container__body__local,
.users-container__body__local__2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 15px;
}

.users-container__body__local > div,
.users-container__body__local__2 > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 400px;
  width: 328px;
}

.users-container__body__local > div > div,
.users-container__body__local__2 >div > div{
  height: 350px;
  width: 300px;
  border: .5px solid lightgrey;
  border-radius: 5px;
}

.body-local-header{
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.body-local-header__image{
  padding: 0 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
}

.body-local-username{
  margin: 0;
}

.body-local-user__bio{
  padding: 10px;
  height: 88px;
  width: 270px;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.3;
}

.github-about-container{
  width: 100%;
  height: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: teal;
  margin: 5px;
}

.navlink-to-github{
  width: 250px;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: teal;
}

.github-about-text{
  width: 180px;
  margin: 0;
}

.github-image{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding-right: 5px;
  margin: 0;
  align-self: center;
}