.login-all{
  width: 1100px;
  display: flex;
  margin: 0 auto;
}

.login-form-container{
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 80px;
  padding-top: 180px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.login-h1{
  font-size: 22px;
  font-weight: 1000;
  color: teal;
  margin-bottom: 10px;
}

.login-form{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 0;
}

input{
  width: 250px;
  margin: 5px 0;
  padding: 5px 0;
}

.login-form-button{
  box-sizing: border-box;
  margin-top: 20px;
  width: 250px;
  padding: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 1200;
  cursor: pointer;
  background-color: teal;
  border-radius: 5px;
  color: white;
  box-shadow: none;
  border: none;
}

.demo-login-form-button{
  box-sizing: border-box;
  border: 5px solid lightgrey;
  background-color: transparent;
  width: 250px;
  padding: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 1200;
  cursor: pointer;
  border-radius: 5px;
  color: teal;
  box-shadow: none;
  border: none;
}

.new-login-form{
  display: flex;
  flex-direction: row;
}

.login-h2{
  padding-top: 5px;
  font-size: 14px;
}

.navlink-login{
  text-decoration: none;
  font-size: 12px;
  color: teal;
}

.navlink-login:hover{
  text-decoration: underline;
}

.login-image-holder{
  height: 350px;
  width: 500px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.login-image{
  height: 350px;
  width: 350px;
  border-radius: 50%;
}