.header{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}